.App {
  text-align: center;
}

.App-header {
  background-color: #dbf2f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.container {
  display: flex;
  height: 25vh;
  margin-bottom: 20vh;
}

.container img {
  display: inline-block;
  height: 100%;
  margin-right: 2vw;
}

.container .content {
  color: black;
  display: inline-block;
  text-align: left;
}

.container .content h2 {
  font-size: calc(2vh + 2vw);
  margin: 0;
}

.container .content small {
  font-size: max(1vw, 12px);
}

.container .content #search-box {
  margin-top: 3vh;
  background-color: white;
}
